nav {
    width: 90%;
    height: 90px;
    border-radius: 50px;
    background: linear-gradient(to right ,black,rgb(29, 29, 29),black);
    margin: 30px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin: 30px 70px;
}

.actions button {
    padding: 15px 40px;
    border-radius: 10px;
    background-color: #fad02c;
    cursor: pointer;
    outline: none;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    margin-right: 20px;
}

.actions input {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: 1px solid grey;
    padding: 10px;
    
}

.hero {
    width: 90%;
    margin: 30px 70px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    color: black;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333; 
}

th {
    border: 1px solid #666; 
    padding: 20px; 
    text-align: center; 
}

td {
    padding: 10px;
    border: 1px solid #666; 
    text-align: center;
}

th {
    background-color: #fad02c; 
    border-bottom: 2px solid #333; 
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

tr:hover {
    background-color: #efefef; 
}


td button {
    width: 80px;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

td button:nth-child(1) {
    background-color: orangered;

}

td button:nth-child(2) {
    background-color: #fad02c;
}
