<div class="container">
    <div class="student-card">
        <div class="preview">
            <div class="image">
                <img [src]="'data:image/jpeg;base64,' + record.student.image" alt="no image">
            </div>
            <div class="details">
                <p>Name:<span>{{record.student.name}}</span></p>
                <hr>
                <p>Roll Number: <span>{{record.student.rollNumber}}</span></p>
                <hr>
                <p>Branch: <span>{{record.student.branch}}</span></p>
                <hr>
                <p>Course Name: <span>{{record.student.programName}}</span></p>
                <hr>
                <p>Email: <span>{{record.student.email}}</span></p>
                
            </div>
            <div class="status">
                <a [attr.href]="record.student.linkedin" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a [href]="record.student.github" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>

        <div class="interview">
            <h2>Mock Interview</h2>
            <div class="interview-container">
                <div class="mock">
                    <h3>Techincal Round</h3>
                    <div align="center">
                        <circle-progress [percent]="tr" [space]="-10" [radius]="60" [outerStrokeWidth]="10"
                            [innerStrokeWidth]="10" [outerStrokeColor]="'#e2661a'" [innerStrokeColor]="'#fad02c'"
                            [animation]="true" [animationDuration]="1000"></circle-progress>
                    </div>
                </div>
                <div class="hr">
                    <h3>HR Round</h3>
                    <div align="center">
                        <circle-progress [percent]="hr" [space]="-10" [radius]="60" [outerStrokeWidth]="10"
                            [innerStrokeWidth]="10" [outerStrokeColor]="'#e2661a'" [innerStrokeColor]="'#fad02c'"
                            [animation]="true" [animationDuration]="1000"></circle-progress>
                    </div>
                </div>
            </div>
            <div class="codingplatforms">
                <h3>Coding Platforms</h3>

                <a [href]="record.student.leetcodeurl" *ngIf="record.student.leetcodeurl" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png" alt="LeetCode Logo" class="leetcode">

                </a>

                <a [href]="record.student.hackerrank" *ngIf="record.student.leetcodeurl" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/HackerRank_logo.png" alt="HackerRank Logo" class="leetcode">

                </a>
                <a [href]="record.student.codechef" *ngIf="record.student.leetcodeurl" target="_blank">
                    <img src="https://cutshort.io/horizontal-og-image?img=https://cdn.cutshort.io/public/companies/59a7db300adfdb705f9672e6/codechef-logo" alt="CodeChef Logo" width="120px" style="margin-left: -20px;">
                </a>
            </div>
            <div class="attendance">
                <h3>Attendance</h3>
                <div class="progress">
                    <div class="progress-container">
                        <div class="progress-bar" [style.width.%]="attendancePercentage"></div>
                        <span class="percentage-label">{{ attendancePercentage }}%</span>
                        
                    </div>
                    <div class="progress-details">
                        <p>Working days: {{record.workingdays}}</p>
                        <p>Attended: {{record.student.attendanceDetails.attended}}</p>
                    </div>
                </div>
                
                
                
            </div>

        </div>
    </div>
</div>