<div class="container">
  <h2 class="title">Select Students</h2>
  
  <div class="filter">
      <button (click)="filterByProgram('jfs')" [ngClass]="{'active-filter': selectedFilter === 'jfs'}">JFS</button>
      <button (click)="filterByProgram('genai')" [ngClass]="{'active-filter': selectedFilter === 'genai'}">GenAi</button>
      <button (click)="filterByProgram('aws')" [ngClass]="{'active-filter': selectedFilter === 'aws'}">AWS</button>
  </div>

  <div class="all">
      <button 
          *ngFor="let i of filteredData" 
          (click)="toggleSelection(i.rollNumber)" 
          class="roll" 
          [ngClass]="{'selected': selectedRoll.includes(i.rollNumber || '')}">
          {{ i.rollNumber }}
      </button>
  </div>

  <button (click)="submitted()" class="submit" [disabled]="selectedRoll.length === 0">Submit</button>
</div>
