<div class="container">
    <h2>Add Student</h2>
    <form [formGroup]="studentForm" (ngSubmit)="submitForm()">
      <label>Name:</label>
      <input type="text" formControlName="name" required>
      
      <label>Email:</label>
      <input type="email" formControlName="email" required>
      
      <label>Roll Number:</label>
      <input type="text" formControlName="rollNumber" required>
      
      <label>Branch:</label>
      <input type="text" formControlName="branch" required>
      
      <label>Program Name:</label>
      <input type="text" formControlName="programName" required>
      
      <label>Tr Interview</label>
      <input formControlName="mockinterview">

      <label>Hr Interview</label>
      <input formControlName="hrInterview">
      
      <label>Leetcode URL:</label>
      <input type="url" formControlName="leetcodeurl">
      
      <label>GitHub URL:</label>
      <input type="url" formControlName="github">

      <label>Linkedin URL:</label>
      <input type="url" formControlName="linkedin">

      <label>Hackerrank URL:</label>
      <input type="url" formControlName="hackerrank">

      <label>Codechef URL:</label>
      <input type="url" formControlName="codechef">

      <label>Image:</label>
      <input type="file" (change)="uploadImage($event)">
      
      <button type="submit" [disabled]="studentForm.invalid">Add Student</button>
    </form>
  </div>
  